h1{color: green;}
center {
    margin :auto
    }
    
    .marginName {
    margin-left: 100px;
    color: blue;    
    }
    
    .marginAge {
    margin-left: 110px;    
    }
    
    .marginColor {
    margin-left: 42px;    
    }
    
    .marginInterest {
    margin-left: 80px; 
    color: red;   
    }
    
    .marginInfo {
    margin-left: 30px;    
    }
    
    .marginButton {
        margin-left: 30px;    
        }

    fieldset{
        color: green
    }

    form {
        display: block;
        margin-top: 0em;
        color: grey
      }